<h1><%= object.title %></h1>
<p><%= object.person %></p>
<h3><%= object.date %></h3>
<h5><%= object.period %></h5>
<h5><%= object.culture %></h5>
<h5><%= object.place %></h5>

<img src="<%= object.image %>" width="600px" />
